# Default Architecture Choice (EC2 Single Instance default, set to false for ECS Fargate)
use_ec2_single_instance = true
dev_mode                = true

aws_region              = "ap-south-1"
key_name                = "your-ec2-key-pair-name"
allowed_cidr_blocks     = ["0.0.0.0/0"]
jwt_secret              = "REPLACE_WITH_A_STRONG_RANDOM_SECRET_MIN_32_CHARS"


